<div id="div_loading" style="position: fixed; text-align: center; vertical-align:middle; height: 100%; width: 100%; top: 0; right: 0; left: 0;
    z-index: 9999999; background-color: #C2D8D5; opacity: 0.8; padding-top:20%">
    <img src="icon/spinner2.gif" alt="loading" style="height:45px" />
</div>