<div id="modal_error" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:550px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h3 id="MdlDeleteTitle" class="modal-title" style="color:red">Error</h3>
                    </div> 
                </div>                               
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="div_alert">
                            @*<h5 class="modal-title">
                                Sure to remove access for user Mihrajunnisa Binti Shafi Mohamed?
                            </h5>*@
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-12" align="right">
                        <button type="button" id="btnModalOK" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-check-circle"></i> Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>