<div class="row" style="background:#fff">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div style="padding:50px;transform: translateY(45%);background-color: #eee;">
      <!--<form action="/login" method="post">-->
        <div class="form-group" style="margin-top: 20px;">
          <input type="text" name="email" id="email" class="form-control" placeholder="Enter your email"/>
        </div>
        <div class="form-group">
          <input type="text" name="password" id="password" class="form-control" placeholder="Enter your token"/>
        </div>
        <div class="form-group">
          <!--<button type="submit" class="btn btn-primary col-md-12"><i class="fa fa-sign-in"></i> Login</button>-->
          <button type="button" class="btn btn-danger col-md-12" id="btnLogin" onclick="doLogin(1)"><i class="fa fa-sign-in"></i> Login</button>
          <button type="button" class="btn btn-danger col-md-12" id="btnGetToken" onclick="getToken()"><i class="fa fa-eye"></i> Get Token</button>
        </div>
        <div class="form-group" align="center">
          <div class="col-md-12">
              <a href="/signup">New user, please Sign Up</a>
          </div>
        </div>
      <!--</form>-->
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script>
  $("#password").hide()
  $("#btnLogin").hide()
  $("#btnGetToken").show()
</script>
